# the following lines help us ignore extensionless binaries
# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# Unignore makefile
!Doxyfile
!Makefile

# no bin or build folders
bin/
Linux*/
build*/
debug/
release/

# no documentation
doc/

# no binaries (objects, libraries/mex, executables)
*.o
*.so
*.a
*.out

*.obj
*.lib
*.dll
*.mex*

*.exe

# no cachegrind output
cachegrind.out.*

# no assembler output
*.s

# no kompressed files
*.7z

# no executable in "auxilaries"
auxilaries/random
auxilaries/Rotors*

# no build artifacts from IDEs
*.user

# no txt files
*.txt

# exception for some files
!CMakeLists.txt
!lib/csprng/LICENCE_1_0.txt

# no bash skripts for testing
*.sh

